:root {
    --navbar-text-color: #ffffff;
    --main-hover-color: #0e202e;
    --main-logo-color: #135346;
    --main-black-color: #000000;
}

body {
    font-family: "Roboto";
    font-size: 26px;

}
.logo {
    display: inline-block;
    position: absolute;
    left: 20px;
    height: 150px;

}


.logo img {
    height: 150px;
}




.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.main-p h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: var(--main-black-color);
}

.options {
    display: flex;
    gap: 70px;
    justify-content: center;
    padding: 50px;
}

.options svg {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 30px;
    color:var(--main-logo-color);
}

.options .option1,
.options .option2 {

    width: 380px;
    height: 351px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 3px solid rgb(0, 6, 87);
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:var(--main-logo-color);
    padding: 15px;
}

.options .option1:hover,
.options .option2:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

.options h3 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: var(--main-black-color);
}

.options a {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: var(--main-logo-color);
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
    border-radius: 8px;
}

.options a:hover {
    background: var(--main-hover-color);
    color: var(--navbar-text-color);
    border-color: var(--main-hover-color);
}

.login p {
    margin-top: 20px;
    font-size: 1.3rem;
    color: var(--main-black-color);
}

.login a {
    cursor: pointer;
    text-decoration: underline;
    color:var(--main-logo-color);
    transition: color 0.3s ease;
}

.login a:hover {
    color: #ff9900;
}

@media (max-width: 430px) {


    .options {
        flex-wrap: wrap;
    }

    .container {
        top: 80%;
    }
    .container .main-p h2{
        font-size: 1.7rem;
    }

    .options {
        padding: 15px;
    }
}


@media (min-width: 768px) and (max-width: 830px) {
    .container {
        top: 60%;
    }
}