#preloader {
    background: #030303 url('../assets/owl-logo.png') no-repeat center center;
    background-size: 10%;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
    transition: opacity 0.5s ease-in-out; /* Smooth fade */
}

#preloader img {
    transform: scale(0.5) !important;
    transition: transform 0.5s ease-in-out !important;
}

#preloader.zoom-in img {
    transform: scale(1) !important;
}