<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:rel="stylesheet" th:href="@{/css/all.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/sign-up-company.css}" />
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <title>Sign Up</title>
</head>
<body>
    <div class="logo">
        <img src="../assets/jubiter.png" alt="" />
    </div>
    <div class="logo2">
        <img src="../assets/jubiter.png" alt="" />
    </div>

    <div class="logo3">
        <img src="../assets/jubiter.png" alt="" />
    </div>

    <section class="h-100">
        <div class="home-icon">
            <a th:href="@{/index}" ><i class="fas fa-home icon"></i></a>
        </div>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block image">
                                <img
                                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                        alt="Sample photo"
                                        class="img-fluid"
                                />
                                <div class="text">
                                    <p>
                                        Looking for exceptional employees? Sign up your recruiter on
                                        JobTeir!
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">JOBteir</h3>
                                    <div class="second-home-icon">
                                        <a th:href="@{/index}" ><i class="fas fa-home icon"></i></a>
                                    </div>

                                    <!-- Form for user and profile registration -->
                                    <form th:action="@{/register/new}" th:object="${user}" th:object="${profile}" method="post">
                                        <!-- Hidden input for User Type -->
                                        <input type="hidden" th:field="*{userTypeId}" th:value="1"/>

                                        <!-- User fields -->
                                        <div class="form-outline mb-4">
                                            <label class="form-label">Email</label>
                                            <input th:field="*{email}" type="email" class="form-control form-control-lg" required />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label">Password</label>
                                            <input th:field="*{password}" type="password" class="form-control form-control-lg" required />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Confirm Password</label>
                                            <input th:field="*{confirmPassword}" type="password" class="form-control form-control-lg" required />
                                        </div>

                                        <!-- Profile fields -->
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="firstName">First Name</label>
                                                    <input id="firstName" th:field="*{profile.firstName}" type="text" class="form-control form-control-lg" required />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="lastName">Last Name</label>
                                                    <input id="lastName" th:field="*{profile.lastName}" type="text" class="form-control form-control-lg" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Phone Number</label>
                                            <input th:field="*{profile.phone}" type="text" class="form-control form-control-lg" required />
                                        </div>
                                        <div class="form-check mb-4">
                                            <input class="form-check-input" type="checkbox" value="true" th:field="*{authorized}" required />
                                            <label class="form-check-label">
                                                I confirm that I am an employee of the company and authorized to use JobTeir services on its behalf.
                                            </label>
                                        </div>

                                        <div class="d-grid gap-2 mb-4">
                                            <button class="btn text-white" type="submit">Create Company Account</button>
                                        </div>
                                    </form>

                                    <div class="text-center">
                                        <p>By signing up you agree to the <a href="#" class="text-decoration-none">Terms and Conditions</a>.</p>
                                        <p>Already on JobTeir? <a href="login.html" class="text-decoration-none">Log in</a>.</p>
                                        <hr />
                                        <p>Find your dream job! <a href="sign-up-client.html" class="text-decoration-none">Join JobTeir as a job seeker today.</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>












    <script type="text/javascript" th:src=" @{/js/bootstrap.bundle.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/all.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>